.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.TodoList-container {
  padding: 50px;
  border: white solid 1px;
  color: black;
  background-color:rgb(190, 190, 190);
}

.TodoItem-container {
  display: flex;
  direction: row;
}

.TodoItem-container > label {
  flex-grow: 1;
}

.TodoList-TextField {
  flex-grow: 1;
}